/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap";

 .container {
  width: 95%;
  margin: auto;
 }

 #left {

 }

 img {
  width: 300px;
 }

.quantity {
  width: 40px;
}

.cart-img {
  width: 50px;
}

.item-quantity {
  width: 40px;
}

#submit-order {
  display: none;
}

#carrousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#sidebar {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 100%;
  overflow: auto;
}

ul {
  list-style: none;
  height: 300px;
  width: 5000px;
  position: absolute;
  top: 0;
  left: 0;
}

li {
  width: 500px;
  height: 300px;
  float: left;
}