<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span8">
      <div id="left">
        <%= yield %>
      </div>
    </div>
    <div class="span4">
      <h3>Shopping Cart</h3>
      <div id="shopping-cart"></div>
      <div id="checkout">
        <hr>
        <h4>Total</h4>
        <p>$<span id="cart-total">0</span>.00</p>
      </div>
    </div>
  </div>
</div>


</body>
</html>
