<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="span6">
        <div id="left">
          <%= yield %>
        </div>
      </div>
      <div class="span4">
        <h3>Shopping Cart</h3>
        <div id="shopping-cart"></div>
        <div id="checkout">
          <hr>
          <h4>Total</h4>
          <p>$<span id="cart-total">0</span>.00</p>
          <button id="checkout-button" class="btn btn-primary" type="button">Checkout</button>
        </div>
        <div id="submit-order">
          <hr>
          <h4>Place Your Order</h4>
          <form class="form-horizontal" id="order-form">
            <label>Name: <input type="text" name="name" placeholder="Enter your name"></label>
            <label>E-Mail: <input type="text" name="email" placeholder="name@domain.com"></label>
            <label>Address: <input type="text" name="address" placeholder="street address"></label>
            <label>City: <input type="text" name="city" placeholder="City"></label>
            <label>State: <input type="text" name="state" placeholder="State"></label>
            <label>Zip: <input type="text" name="zip" placeholder="Zip Code"></label>
            <button type="button" class="btn btn-primary" id="place-order">Place Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
